h1 {
    color: lightyellow;
    border: solid 5px;
    text-align: center;
    font-size: 40px;
    background-color: darkolivegreen;
    border-color: darkseagreen;
    margin: 20px;
    line-height: 100px;
}

body { 
    background-color: lightyellow;
}

.cover {
    width: 25%;
    height: 480px;
    display: inline-block;
    margin-left: 20px;
}

.cast {
    width: 46%;
    display: inline-block;
    margin-left: 4px;
    margin-right: 4px;
}

.netflix {
    width: 25%;
    height: 480px;
    display: inline-block;
    margin-right: 20px;
}

p {
    border: double darkseagreen 4px;
    margin: 20px;
    padding: 20px;
    text-align: justify;
}
footer {
    border: double darkseagreen 4px;
    padding: 20px;
    margin-left: 20px;
    margin-right: 20px;
    background-color: darkolivegreen;
    color: lightyellow;
    text-align: left;
}
.email {
    display: block;
    width: 10%;
    background-color: darkseagreen;
    color: lightyellow;
    text-align: center;
    font-size: 27px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-decoration: none;
    border: dotted lightyellow 2.5px;
    border-radius: 5%;
    margin-left: 45%;
    transition-duration: 1s;
}

.email:hover {
background: teal;
color: darkorange;
font-size: 27px;
border: dotted chocolate 4px;
border-radius: 50%;
}
